
body {
    background: url("./pages/bg.jpeg") no-repeat;
    background-size: cover;
    min-height: 85vh;
}

/* Welocoem div */
.text-center{
  background-color: #f8f9facc;
  width: 620px;
  margin: 200px auto 10px auto;
  padding: 15px;
  border-radius: 15px;
}
#weltxt{
    color: #009688;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}
#strtxt{
    margin: 20px auto;
    color:#dbb800;
    text-shadow: 2px 2px 2px black;
}
#logintxt{
    margin-bottom: 10px;
    color: black;
    font-weight: 500;
}
/* Sign Up Form */
.form-signup{
    max-width: 400px;
    margin: 10px auto;  
}
.form-signup .form-control {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
  }
  .form-signup .form-control:focus {
    z-index: 2;
  }
  .form-signup input{
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
.btn-link{
  border: none;
  background: none;
}
/* Sign in Form */
.form-signin {
  max-width: 400px;
  margin: 10px auto; 
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* TAsk Item */

.badge{
  margin-left: 5px;
}
.badge:hover{
  cursor: pointer;
}
.list-group-item{
  overflow: hidden;
}

#tsakfield{
  width: 70%;
}

#taskbtn{
  border-radius: 50%;
}


/* Alert  */
.alert{
  max-width: 400px;
  position: absolute;
  right: 35%;
  top: 100px;
}